<div class="custom-dialog">
  <div class="custom-dialog-header">
    Datei konvertieren
  </div>
  <div class="custom-dialog-content">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Zielkonvertierung</mat-label>
      <mat-select [(value)]="selectedFormat">
        <mat-option *ngFor="let format of availableFormats" [value]="format">{{ format }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="custom-dialog-footer">
    <button (click)="cancel()" mat-button>Abbrechen</button>
    <button (click)="convert()" [disabled]="loading" color="primary" mat-button>Konvertieren</button>
  </div>

  <app-loading-screen *ngIf="loading"></app-loading-screen>
</div>
