<div matDialogTitle class="current-user-title">Nutzerdaten</div>

<div matDialogContent>
  <table class="current-user-table">
    <tr>
      <td>Name</td>
      <td>{{currentUserData.first_name}} {{currentUserData.last_name}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{currentUserData.email}}</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{currentUserData.username}}</td>
    </tr>
    <tr>
      <td>Straße, Hausnr.</td>
      <td>{{currentUserData.address.street}}, {{currentUserData.address.house_number}}</td>
    </tr>
    <tr>
      <td>PLZ, Stadt</td>
      <td>{{currentUserData.address.postal_code}}, {{currentUserData.address.city}}</td>
    </tr>
    <tr>
      <td>Land</td>
      <td>{{currentUserData.address.country}}</td>
    </tr>
  </table>
</div>

<!--  <div class="curr-user-name">
    <span>Name</span> <span>{{currentUserData.first_name}} {{currentUserData.last_name}}</span>
  </div>
  <div class="curr-user-email">
    <span>Email</span> <span>{{currentUserData.email}}</span>
  </div>
  <div class="curr-user-username">
    <span>Username</span><span>{{currentUserData.username}}</span>
  </div>
  <div class="curr-user-address">
    <div class="curr-user-street">
      <span>Straße, Hausnummer</span><span>{{currentUserData.address.street}}, {{currentUserData.address.house_number}}</span>
    </div>
    <div class="curr-user-postal-code">
      <span>Postleitzahl, Stadt</span><span>{{currentUserData.address.postal_code}} {{currentUserData.address.city}}</span>
    </div>
    <div class="curr-user-country">
      <span>Land</span><span>{{currentUserData.address.country}}</span>
    </div>
  </div>-->
