<div matDialogTitle class="current-user-title">Nutzerdaten</div>

<div matDialogContent>
  <table class="current-user-table">
    <tr>
      <td>Name</td>
      <td>{{ currentUserData.first_name }} {{ currentUserData.last_name }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ currentUserData.email }}</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{ currentUserData.username }}</td>
    </tr>
    <tr>
      <td>Straße, Hausnr.</td>
      <td>{{ currentUserData.address.street }}, {{ currentUserData.address.house_number }}</td>
    </tr>
    <tr>
      <td>PLZ, Stadt</td>
      <td>{{ currentUserData.address.postal_code }}, {{ currentUserData.address.city }}</td>
    </tr>
    <tr>
      <td>Land</td>
      <td>{{ currentUserData.address.country }}</td>
    </tr>
  </table>
</div>
