
.alignHorizontal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.89);
}

.alignVertical{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-content {
  height: 500px;
  width: 300px;
  border: solid 1px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.50);
  padding: 8px;
}

.login-form {
  margin: 15px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
