<div class="alignHorizontal">
  <div class="alignVertical">
    <div class="login-content">
      <div>
        <form [formGroup]="loginForm">
          <mat-form-field appearance="outline" color="primary" class="form-field-full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput required formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary" class="form-field-full-width">
            <mat-label>Passwort</mat-label>
            <input matInput required formControlName="password">
          </mat-form-field>
          <button mat-button (click)="submit()">Fertig</button>
        </form>
      </div>
    </div>
  </div>
</div>


