<div [class.selected]="isSelected" class="song-card">
  <img alt="{{ song.title }}" class="song-image" height="736" src="../../../assets/img/music-card-banner.jpg"
       width="736">
  <div class="song-details">
    <h3 class="song-title">{{ song.title }}</h3>
    <p class="song-artist">{{ song.interpret }}</p>
    <div class="button-group">
      <button (click)="togglePlay()">
        <mat-icon>{{ isPlaying ? 'pause_circle_outline' : 'play_circle_outline' }}</mat-icon>
      </button>
      <button (click)="openConversionDialog(song.file_id)">
        <mat-icon>change_circle</mat-icon>
      </button>
      <button (click)="openMetadataEditDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
