<div class="song-card" *ngIf="song">
  <img class="song-image" [src]="song.imageUrl" alt="{{ song.title }}">
  <div class="song-details">
    <h3 class="song-title">{{ song.title }}</h3>
    <p class="song-artist">{{ song.artist }}</p>
    <div class="button-group">
      <button (click)="togglePlay()">
        <mat-icon>{{ isPlaying ? 'pause_circle_outline' : 'play_circle_outline' }}</mat-icon>
      </button>
      <button> <!--TODO (click)="convertSong()"> -->
        <mat-icon>change_circle</mat-icon>
      </button>
      <button> <!--TODO (click)="editMetadata()"> -->
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
