.song-card {
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .song-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .song-details {
    padding: 10px;
    display: flex;
    flex-direction: column;

    .song-title {
      margin: 0;
      font-size: 18px;
    }

    .song-artist {
      margin-top: 5px;
      font-size: 14px;
    }

    .button-group {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }

    button:hover {
      color: #3f51b5;
    }
  }
}
