<div class="audio-player-container">
  <div class="audio-player">
    <audio #audioPlayer>
      <source [src]="audioSrc" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <div class="controls">
      <button (click)="togglePlay()">
        <span *ngIf="!isPlaying"><mat-icon >play_circle_outline</mat-icon></span>
        <span *ngIf="isPlaying"><mat-icon>pause_circle_outline</mat-icon></span>
      </button>
    </div>
    <div class="progress-bar-container" (click)="seek($event)">
      <div class="progress-bar" [style.width]="(currentTime / duration * 100 || 0) + '%'"></div>
    </div>
    <div class="volume-control">
      <button mat-icon-button (click)="toggleMute()">
        <mat-icon>{{ isMuted ? 'volume_off' : 'volume_up' }}</mat-icon>
      </button>
      <input class="volume-bar" type="range" min="0" max="100" step="1" [(ngModel)]="volume" (input)="adjustVolume()"/>
    </div>
  </div>
</div>

