.home-content {
  height: 100%;
  width: 100%;
  display: flex;
}

app-header {
  height: 64px;
}

app-footer {
  height: 60px;
}

.main-page-router {
  height: calc(100% - 124px);
  overflow-y: auto;
}
