<form [formGroup]="searchForm" class="example-form" (ngSubmit)="onSearchSubmit()">
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Suche..." formControlName="searchValue" [matAutocomplete]="auto" id="searchbar">
    <mat-autocomplete #auto="matAutocomplete" hideSingleSelectionIndicator="true" id="search-autocomplete"> <!--TODO  autoSelectActiveOption="true" ja/nein-->
      @for (data of filteredAutoCompleteData; track $index) {
        <mat-option [value]="data">{{data}}</mat-option>
      }
    </mat-autocomplete>
    <button matSuffix mat-icon-button color="primary" class="icon-button" id="search-submit"><mat-icon>search</mat-icon></button>
  </mat-form-field>
  <div class="center-chipbox">
    <mat-chip-listbox aria-label="Category Selection" class="category-selection" formControlName="searchCategory">
      <mat-label class="chip-label">Suche nach:</mat-label>
      <mat-chip-option value="title">Titel</mat-chip-option>
      <mat-chip-option value="artists">Interpret</mat-chip-option>
      <mat-chip-option value="album">Album</mat-chip-option>
      <mat-chip-option value="genre">Genre</mat-chip-option>
    </mat-chip-listbox>
  </div>
</form>
