<input #fileInput (change)="onFileSelected($event)" accept=".mp3" style="display: none" type="file"/>
<button (click)="fileInput.click()" color="primary" extended mat-fab style="margin-bottom: 10px;">
  <mat-icon>upload</mat-icon>
  Datei auswählen
</button>

<button (click)="onUpload()" *ngIf="selectedFile" [disabled]="!validFile" color="primary" extended mat-fab
        style="margin-top: 10px;">
  <mat-icon>cloud_upload</mat-icon>
  Upload starten
</button>

@if (selectedFile && validFile) {
  <div style="margin-top: 10px;">
    <p>Hochzuladende Datei: {{ selectedFile.name }}</p>
  </div>
} @else if (selectedFile && !validFile) {
  <div style="margin-top: 10px; color: red;">
    <p>Datei muss Format '.mp3' haben!</p>
  </div>
}
