<div class="custom-dialog">
  <div class="custom-dialog-header">
    Daten bearbeiten
  </div>
  <div class="custom-dialog-content">
    <div class="custom-input-field">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Titel</mat-label>
        <input [(ngModel)]="data.song.title" matInput placeholder="Titel">
      </mat-form-field>
    </div>
    <div class="custom-input-field">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Künstler</mat-label>
        <input [(ngModel)]="selectedArtistNames" matInput placeholder="Künstler" [matTooltip]="'Bei mehreren Künstlern bitte mit einem Semikolon \';\' trennen'">
      </mat-form-field>
    </div>
    <div class="custom-input-field">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Genre</mat-label>
        <input [(ngModel)]="data.song.genre" matInput placeholder="Genre">
      </mat-form-field>
    </div>
    <div class="custom-input-field">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Album</mat-label>
        <input [(ngModel)]="data.song.album" matInput placeholder="Album">
      </mat-form-field>
    </div>
    <div class="custom-input-field" [class.error]="dateInput.invalid && dateInput.touched">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Erscheinungsjahr</mat-label>
        <input #dateInput="ngModel" [(ngModel)]="data.song.date" matInput placeholder="Erscheinungsjahr" pattern="[0-9]*">
        <mat-error *ngIf="dateInput.invalid && dateInput.touched"></mat-error>
      </mat-form-field>
    </div>

  </div>
  <div class="custom-dialog-footer">
    <button (click)="cancel()" mat-button>Abbrechen</button>
    <button (click)="save()" color="primary" mat-button [disabled]="dateInput.invalid && dateInput.touched">Speichern</button>
  </div>
  <app-loading-screen *ngIf="loading"></app-loading-screen>
</div>
