.custom-dialog {
  font-family: 'Roboto', sans-serif;
}

.custom-dialog-header {
  background-color: #3f51b5;
  color: #fff;
  padding: 16px;
  font-size: 20px;
}

.custom-dialog-content {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.custom-input-field {
  flex: 1;
  margin-right: 10px;
}


.custom-dialog-footer {
  background-color: #f0f0f0;
  padding: 16px;
  text-align: right;
}

.custom-dialog-button {
  margin-left: 8px;
}
